@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-card-border: hsl(var(--card-border));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-notar-50: #ffffff;
  --color-notar-100: #fdfffd;
  --color-notar-200: #e7f9da;
  --color-notar-300: #d0f3b7;
  --color-notar-400: #b9ed94;
  --color-notar-500: #a2e771;
  --color-notar-600: #83df41;
  --color-notar-700: #66c622;
  --color-notar-800: #4d9619;
  --color-notar-900: #356611;
  --color-notar-950: #284e0d;

  --color-google-red: #ea4335;
  --color-google-blue: #4285f4;
  --color-google-yellow: #fbbc05;
  --color-google-green: #34a853;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --text-3xs: 0.625rem; /* 10px */
  --text-2xs: 0.6875rem; /* 11px */
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215 25% 27%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --card: 0 0% 100%;
  --card-border: 214.3 31.8% 91.4%;
  --card-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --primary: 95.08 71.08% 67.45%;
  --primary-foreground: 95.08 71.08% 10%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --ring: 95.08 71.08% 67.45%;

  --radius: 0.5rem;
  --warning: 54 96% 45%;

  --envelope-editor-background: 210 40% 98.04%;
}

* {
  border-color: hsl(var(--border));
}

button:not(:disabled),
[role='button']:not([aria-disabled='true']),
select:not(:disabled),
summary {
  cursor: pointer;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #d0f3b7;
  color: #0f172a;
}
